<section class="first">
    <div class="container-fluid">

    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="page-header">
                    <h1><span data-bind="text: foo"></span></h1>
                    <p>за проявленное милосердие и чуткое отношение к людям с тяжелыми заболеваниями, находящимся в трудной жизненной ситуации</p>
                </div>
                <h5>Публикации <span class="label label-default">400</span></h5>

                <dl class="dl-h-40">
                    <dt><i class="g-icon-20 i-ruble"></i></dt>
                    <dd>
                        <small class="right text-muted">30.01.2015</small>
                        <span>Спасибо Екатерине за 1000р. для Лены Леончевой</span>
                    </dd>
                    <dt><i class="g-icon-20 i-stethoscope"></i></dt>
                    <dd>
                        <small class="right text-muted">30.01.2015</small>
                        <span>Спасибо компании ООО "Мастер" за предоставленное мед оборудование</span>
                    </dd>
                    <dt><i class="g-icon-20 i-shopping-cart"></i></dt>
                    <dd>
                        <small class="right text-muted">30.01.2015</small>
                        <span>Спасибо компании ООО "Мастер" за покупку одежды для..</span>
                    </dd>
                    <dt><i class="g-icon-20 i-shopping-cart"></i></dt>
                    <dd>
                        <small class="right text-muted">30.01.2015</small>
                        <a href="#" data-toggle="modal" data-target="#wardDetail">
                            СЕГОДНЯ хотим от всей души поблагодарить сотрудников сети клубов "ALEX FITNESS" Фиолент за подарки для наших подопечных детишек!!!!
                        </a>
                    </dd>
                </dl>

                <nav>
                    <ul class="pager">
                        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Сюда</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">...</a></li>
                        <li class="next"><a href="#">Туда <span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-5">
                <div class="box">
                    <h3>Финансовая помощь</h3>
                    <div class="alert alert-warning" role="alert">
                        <p>
                            При переводе пожертвований большая просьба написать об этом директору фонда
                            Надежде Свистуновой <a href="mailto:info@todayspb.com">info@todayspb.com</a>
                        </p>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading1">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_1" aria-expanded="true" aria-controls="collapse1">
                                        Яндекс Вместе
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                    <!--iframe class="iframe" src="https://money.yandex.ru/fastpay/form/9147ee9ec5a5409d92f4c1cf024d30b1" style="width: 100%; height: 341px;"></iframe-->
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading2">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_3" aria-expanded="false" aria-controls="collapse2">
                                        Перечислить деньги на счет фонда «СЕГОДНЯ»
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                    <ins>Наши реквизиты:</ins>
                                    <ul class="list-unstyled">
                                        <li>Северо-Западный банк ОАО «Сбербанк России»</li>
                                        <li>БИК: 044030653, ИНН: 7804291024, КПП: 780401001</li>
                                        <li>р/сч: 40703810855080000713</li>
                                        <li>к/сч: 30101810500000000653</li>
                                        <li>Юридический адрес: РФ, 195265, г. Санкт-Петербург, ул. Черкасова, д. 5, корп.1, кв.39</li>
                                        <li>Директор фонда: Свистунова Надежда Владимировна</li>
                                    </ul>
                                    <p>Оплачивать можно <strong>всеми</strong> видами платежей: через операциониста, терминал, c банковских карт, электронными деньгами, с помощью штрих-кода и т.д.</p>
                                    <p>Mожно использовать функцию <strong>"автоплатежи"</strong> - раз в месяц с банковской карты будет списываться указанная сумма.</p>
                                    <p>
                                        Также на ресурсе <strong>"Яндекс Вместе"</strong>, сервисе онлайн-платежей,
                                        есть удобная платежная страничка по адресной помощи нашим подопечным - <a href="//vmeste.yandex.ru/todayspb25" target="_blank">Программа адресной помощи</a>.
                                    </p>
                                    <p>
                                        <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            Как перевести средства через терминал сбербанка?
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseExample">
                                        <div class="well">
                                            <ol>
                                                <li>выбрать "Платежи в нашем регионе"</li>
                                                <li>поиск получателя платежа</li>
                                                <li>поиск по ИНН</li>
                                                <li>ввести ИНН: 7804291024</li>
                                                <li>появится надпись БФ "Сегодня" - благотворительный взнос -выбрать</li>
                                                <li>проверить реквизиты</li>
                                                <li>ввести ФИО</li>
                                                <li>ввести адрес</li>
                                                <li>сумму, которую будете перечислять</li>
                                                <li>подтвердить реквизиты</li>
                                                <li>проверить - продолжить.</li>
                                            </ol>
                                          <span>
                                            Перечень карт, по которым принимаются переводы с использованием устройств самообслуживания Банка:
                                            MasterCard ОАО «Сбербанк России», Visa ОАО «Сбербанк России», Visa Electron ОАО «Сбербанк России», Maestro ОАО «Сбербанк России»,
                                            ПРО 100 ОАО «Сбербанк России»
                                          </span>
                                        </div>
                                    </div>
                                    Если возникли вопросы, пишите нам - <a href="mailto:info@todayspb.com">info@todayspb.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="wardDetail" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Спасибо</h4>
            </div>
            <div class="modal-body">
                <img src="https://pp.vk.me/c621419/v621419954/1396f/aW2-VUck-TI.jpg" />
                <img src="https://pp.vk.me/c621419/v621419954/13978/puKyDRKp58M.jpg" />
                <img src="https://pp.vk.me/c621419/v621419954/13981/Z-rP7iIndAw.jpg" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div><!-- Modal #gallery детальная подопечного -->

