@import "../common/mixins";
@import "../common/variables";

.today-about {

    &__grid {
        margin: $margin-large 0;
        padding: $padding-double 0;

        &-item {
            text-align: center;
            a {
                font-size: $font-size-x;
                color: $color-font-base;
                display: block;
                text-decoration: underline;
                &:hover,
                &:active,
                &:focus {
                    color: $color-font-base;
                    text-decoration: none;
                }
            }

            // For tablet & mobile
            @media(max-width: map-get($grid-breakpoints, lg)) {
                &:not(:first-child) {
                    margin: $margin-base 0 0;
                }
            }
        }
    }
}