@import "../common/mixins";
@import "../common/variables";

.today-about {

    &__grid {
        margin: $margin-large 0;
        padding: $padding-double 0;

        &-item {
            text-align: center;

            // For tablet & mobile
            @media(max-width: map-get($grid-breakpoints, md)) {
                &:not(:first-child) {
                    margin: $margin-base 0 0;
                }
            }
        }
    }
}