.today-contact {
    background-color: $color-gray-darker;
    background-image: url('../img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;

    &,a,p {
        color: $color-white;
    }

    a {
        border: none;
    }

    .section-heading {
        color: $color-white;
    }
    .form-group {
        margin-bottom: $margin-base;
        input,
        textarea {
            padding: $padding-base;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }
    .form-control:focus {
        border-color: $color-danger;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
        @include heading-font;
        font-weight: 700;
        color: $color-gray-lighter;
    }
    :-moz-placeholder { /* Firefox 18- */
        @include heading-font;
        font-weight: 700;
        color: $color-gray-lighter;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        @include heading-font;
        font-weight: 700;
        color: $color-gray-lighter;
    }
    :-ms-input-placeholder {
        @include heading-font;
        font-weight: 700;
        color: $color-gray-lighter;
    }
}