@import "../common/variables";
@import "../common/mixins.scss";

// Portfolio Section
.today-portfolio {
    &__flex-grid {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0 0 15px;
        right: 0;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        flex-direction: column;

        &-link {
            display: block;
            position: relative;
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            border: 0;
        }

        &-caption {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            background-color: $color-white;
            text-align: center;
            padding: $padding-base;
            flex: 1 0 auto;

            h4 {
                text-transform: none;
                margin: 0;
            }
            p {
                @include serif-font;
                font-style: italic;
                font-size: 16px;
                margin: 0;
            }
        }

        &__hover {
            background: fade-out($color-brand, .9);
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            &:hover {
                opacity: 1;
            }
            &-content {
                position: absolute;
                @include size(100%, 20px);
                font-size: 20px;
                text-align: center;
                top: 50%;
                margin-top: -12px;
                color: $color-white;
                i {
                    margin-top: -12px;
                }
                h3,
                h4 {
                    margin: 0;
                }
            }
        }

        img {
            width: 100%;
        }
    }
    * {
        z-index: 2;
    }
}

// For desktop
@media (min-width: map-get($grid-breakpoints, md)-1) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}
