@import "../common/mixins";
@import "../common/variables";

.today-thanks {
    // Timeline - override styles from timline.scss
    .today-timeline {
        // For desktop
        @media (min-width: map-get($grid-breakpoints, md)) {
            // Panel Left / Right
            [class*='today-timeline__panel'] {
                width: 41%;
                padding: 0 $padding-base;
            }

            &__row {
                margin-bottom: $margin-large;
                min-height: 100px;

                .today-timeline__panel-heading {
                    float: left;
                    text-align: right;
                }

                .today-timeline__panel-content {
                    float: right;
                    text-align: left;
                }

                &--inverted {
                    .today-timeline__panel-heading {
                        float: right;
                        padding: 0 30px $padding-base $padding-base;
                        text-align: left;
                    }
                    .today-timeline__panel-content {
                        float: left;
                        padding: 0 $padding-base $padding-base;
                        text-align: right;
                    }
                }

                &:not(.u-last) {
                    .today-timeline__image {
                        @include size(100px, 100px);
                        left: 50%;
                        margin-left: -50px;

                        .today-timeline__row-text {
                            display: none;
                        }

                        .today-timeline__row-icon {
                            display: block;
                            position: absolute;
                            top: 50%;
                            margin-top: -14px;
                            font-size: 28px;
                            height: 28px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        @media (min-width: map-get($grid-breakpoints, lg)) {
            // Panel Left / Right
            [class*='today-timeline__panel'] {
                width: 41%;
                padding: 0 $padding-base;
            }

            &__row {
                margin-bottom: $margin-large;
                min-height: 100px;

                .today-timeline__panel-heading {
                    float: left;
                    text-align: right;
                }

                .today-timeline__panel-content {
                    float: right;
                    text-align: left;
                }

                &--inverted {
                    .today-timeline__panel-heading {
                        float: right;
                        padding: 0 30px $padding-base $padding-base;
                        text-align: left;
                    }
                    .today-timeline__panel-content {
                        float: left;
                        padding: 0 $padding-base $padding-base;
                        text-align: right;
                    }
                }

                &:not(.u-last) {
                    .today-timeline__image {
                        @include size(100px, 100px);
                        left: 50%;
                        margin-left: -50px;

                        .today-timeline__row-text {
                            display: none;
                        }

                        .today-timeline__row-icon {
                            display: block;
                            position: absolute;
                            top: 50%;
                            margin-top: -14px;
                            font-size: 28px;
                            height: 28px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}