@import "variables/variables";

.reveal {
  .slide-background-content {
    background-position: initial;
  }

  table {
    &.ld-table {
      margin: 0;
      font-size: $font-size-md;

      tr:last-child td {
        border-bottom: 1px solid;
      }

      td {
        vertical-align: middle;
        border: 1px solid;
      }
    }
  }
}

