.ld-txt-left {
  text-align: left;
}

.ld-txt-md {
  font-size: $font-size-md;
}

.ld-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: $space-base 0;
  font-size: $font-size-md;

  &__title {
    padding-bottom: $space-small;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__num {
    margin-right: 4px;
  }

  a {
    display: flex;
  }
}
