@mixin flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-row {
    @include flex;
    flex-direction: row;
    align-items: stretch;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}

@mixin flex-row-wrap {
    @include flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

@mixin flex-start-center {
    align-items: center;
    align-content: center;
    max-width: 100%;
    justify-content: flex-start;
}

@mixin flex-center-center {
    align-items: center;
    align-content: center;
    max-width: 100%;
    justify-content: center;
}

@mixin flex-grow {
    flex-grow: 0;
    flex-shrink: 0;
}