<%- include('meta.ejs') -%>
<div class="today-nav-toolbar">
    <h2>Полный заголовок статьи</h2>
    <%- include('share.ejs') -%>
</div>

<figure class="today-image-inner">
    <img src="http://kwoon.tommusdemos.wpengine.com/wp-content/uploads/sites/13/2015/06/Unknown.jpeg"
         alt="">
</figure>
<div class="today-text">
    <!--TODO:Generated text-->
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</div>
<div class="today-video-inner">
    <iframe src="https://www.youtube.com/embed/dzPFAQeF_5A"
            frameborder="0" allowfullscreen></iframe>
</div>
