<div class="today-post__content-item">
    <!--<div class="today-post__content-item__video">-->
        <!--<iframe src="https://www.youtube.com/embed/dzPFAQeF_5A"-->
                <!--frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->
    <figure class="today-post__content-item__image">
        <a href="events-detail.html">
            <div class="today-post-image__overlay">
                <div class="today-post-image__overlay-info"><span>Читать все</span></div>
            </div>
            <img src="http://kwoon.tommusdemos.wpengine.com/wp-content/uploads/sites/13/2015/06/Unknown.jpeg"
                 alt="">
        </a>
    </figure>
    <h2 class="today-post__title">
        <a href="events-detail.html">Заголовок статьи</a>
    </h2>
    <%- include('meta.ejs') -%>
    <div class="today-text">
        <!--TODO:Generated text-->
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
        ad illo laboriosam libero,
        modi nulla reiciendis. Eaque quibusdam rem temporibus.
        Cupiditate error facilis id impedit laudantium quas recusandae. Quo, sequi!</div>
    <a href="events-detail.html"
       class="today-btn__read-more">Читать все</a>
</div>