<div class="today-meta">
    <span class="today-meta-date"><!--TODO:Generated text-->9 Декабря, 2017</span>
    <a href="#" class="today-meta-like">
        <i class="fa fa-heart today-meta-icon"></i>&nbsp;<span>0</span>
    </a>
</div>