<nav class="today-pagination">
    <ul class="pagination">
        <li class="page-item disabled today-pagination__control">
        <span>
            <i class="today-pagination__control-icon fa fa-angle-left" aria-hidden="true"></i>
        </span>
        </li>
        <li>
            <span>1</span>
            <a href="http://todayspb.com/news/page/2/">2</a>
            <a href="http://todayspb.com/news/page/3/">3</a>
            <a href="http://todayspb.com/news/page/4/">4</a>
            <a href="http://todayspb.com/news/page/5/">5</a>
            <a href="http://todayspb.com/news/page/6/">6</a>
            <a href="http://todayspb.com/news/page/7/">7</a>
            <a href="http://todayspb.com/news/page/8/">8</a>
        </li>
        <li class="page-item today-pagination__control">
            <a href="http://todayspb.com/news/page/2/">
                <i class="today-pagination__control-icon fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>