<nav class="today-pagination">
    <ul class="pagination">
        <li class="page-item disabled today-pagination__control">
            <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                <i class="today-pagination__control-icon fa fa-angle-left" aria-hidden="true"></i>
                <span class="today-pagination__control-txt">Сюда</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item today-pagination__control">
            <a class="page-link" href="#" aria-label="Next">
                <span class="today-pagination__control-txt">Туда</span>
                <i class="today-pagination__control-icon fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>