<div class="today-post__sidebar">
    <h3 class="today-post__sidebar__title">Популярное</h3>
    <div class="today-post__sidebar__row">
        <div class="today-post__sidebar__list">
            <div class="today-post__sidebar__list-item">
                <div class="today-post__sidebar__list-item__image">
                    <a href="#">
                        <img src="http://kwoon.tommusdemos.wpengine.com/wp-content/uploads/sites/13/2015/05/blog1-150x150.jpg"
                             class="attachment-thumbnail size-thumbnail wp-post-image"
                             alt="">
                    </a>
                </div>
                <div class="today-post__sidebar__list-item__meta">
                    <h5 class="today-post__title">
                        <a href="#"><!--TODO:Generated text-->Заголовок поста</a>
                    </h5>
                    <div class="today-meta">
                        <span class="today-meta-date"><!--TODO:Generated text-->9 Декабря, 2017</span>
                        <a href="#" class="today-meta-like">
                            <i class="fa fa-heart today-meta-icon"></i>&nbsp;<span>0</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="today-post__sidebar__list-item">
                <div class="today-post__sidebar__list-item__image">
                    <a href="#">
                        <img src="http://kwoon.tommusdemos.wpengine.com/wp-content/uploads/sites/13/2015/05/blog1-150x150.jpg"
                             class="attachment-thumbnail size-thumbnail wp-post-image"
                             alt="">
                    </a>
                </div>
                <div class="today-post__sidebar__list-item__meta">
                    <h5 class="today-post__title">
                        <a href="#"><!--TODO:Generated text-->Заголовок поста</a>
                    </h5>
                    <div class="today-meta">
                        <span class="today-meta-date"><!--TODO:Generated text-->9 Декабря, 2017</span>
                        <a href="#" class="today-meta-like">
                            <i class="fa fa-heart today-meta-icon"></i>&nbsp;<span>0</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="today-post__sidebar__list-item">
                <div class="today-post__sidebar__list-item__image">
                    <a href="#">
                        <img src="http://kwoon.tommusdemos.wpengine.com/wp-content/uploads/sites/13/2015/05/blog1-150x150.jpg"
                             class="attachment-thumbnail size-thumbnail wp-post-image"
                             alt="">
                    </a>
                </div>
                <div class="today-post__sidebar__list-item__meta">
                    <h5 class="today-post__title">
                        <a href="#"><!--TODO:Generated text-->Заголовок поста</a>
                    </h5>
                    <div class="today-meta">
                        <span class="today-meta-date"><!--TODO:Generated text-->9 Декабря, 2017</span>
                        <a href="#" class="today-meta-like">
                            <i class="fa fa-heart today-meta-icon"></i>&nbsp;<span>0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="today-post__sidebar__row">
        <div class="today-post__sidebar__video">
            <div class="today-post__sidebar__video-item">
                <iframe class="today-post__sidebar__video-item__movie"
                        src="https://www.youtube.com/embed/WuU_IDKgORk"
                        frameborder="0" allowfullscreen></iframe>
                <a class="today-post__sidebar__video-item__link"
                   href="/watch?v=WuU_IDKgORk" target="_blank">
                    Новый год в ресторане Twiggy
                </a>
            </div>
            <div class="today-post__sidebar__video-item">
                <iframe class="today-post__sidebar__video-item__movie"
                        src="https://www.youtube.com/embed/WuU_IDKgORk"
                        frameborder="0" allowfullscreen></iframe>
                <a class="today-post__sidebar__video-item__link"
                   href="/watch?v=WuU_IDKgORk" target="_blank">
                    Новый год в ресторане Twiggy
                </a>
            </div>
            <div class="today-post__sidebar__video-item">
                <iframe class="today-post__sidebar__video-item__movie"
                        src="https://www.youtube.com/embed/WuU_IDKgORk"
                        frameborder="0" allowfullscreen></iframe>
                <a class="today-post__sidebar__video-item__link"
                   href="/watch?v=WuU_IDKgORk" target="_blank">
                    Новый год в ресторане Twiggy
                </a>
            </div>
            <a href="https://www.youtube.com/channel/UCN-cYqo_tHvdj1nthGceyug"
               class="btn today-btn--empty"
               target="_blank">
                <span>Смотреть больше на Youtube</span>
            </a>
        </div>
    </div>
</div>
