<div class="today-post__content-item">
    <h2 class="today-post__title">
        <a href="#">Title Post Type</a>
    </h2>
    <%- include('meta.ejs') -%>
    <%- include('txt-with-btn-more.ejs') -%>
</div>