<div class="today-post__content-item">
    <div class="today-post__content-item__video">
        <iframe src="https://www.youtube.com/embed/dzPFAQeF_5A"
                frameborder="0" allowfullscreen></iframe>
    </div>
    <h2 class="today-post__title">
        <a href="#">Image Post Type</a>
    </h2>
    <%- include('meta.ejs') -%>
    <%- include('txt-with-btn-more.ejs') -%>
</div>