<div class="today-share jsShare">
    <div class="today-share__trigger jsShareTrigger">
        <button class="today-btn-fab today-btn-fab-main">
            <i class="fa fa-share" aria-hidden="true"></i><span>Поделиться</span>
        </button>
    </div>
    <div class="today-share__action">
        <div class="today-share__action-item">
            <button class="today-btn-fab today-btn-fab--facebook today-btn-fab--small">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
        </div>
        <div class="today-share__action-item">
            <button class="today-btn-fab today-btn-fab--instagram today-btn-fab--small">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </button>
        </div>
        <div class="today-share__action-item">
            <button class="today-btn-fab today-btn-fab--vk today-btn-fab--small">
                <i class="fa fa-vk" aria-hidden="true"></i>
            </button>
        </div>
        <div class="today-share__action-item">
            <button class="today-btn-fab today-btn-fab--google-plus today-btn-fab--small">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </button>
        </div>
        <div class="today-share__action-item">
            <button class="today-btn-fab today-btn-fab--odnoklassniki today-btn-fab--small">
                <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
            </button>
        </div>
        <div class="today-share__action-item">
            <button class="today-btn-fab today-btn-fab--twitter today-btn-fab--small">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
