<div class="today-text">
    <!--TODO:Generated text-->
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
    ad illo laboriosam libero,
    modi nulla reiciendis. Eaque quibusdam rem temporibus.
    Cupiditate error facilis id impedit laudantium quas recusandae. Quo, sequi!</div>
<a href="post-detail.html"
   class="today-btn__read-more">Читать все</a>
