<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') -%>

<body id="page-top" class="index">

<!-- Navigation -->
<%- include('partials/nav.ejs') -%>

<!-- Header -->
<header class="today-main-header today-main-header--breadcrumbs u-color-bg-header-inner">
    <div class="container">
        <div class="today-main-header__content">
            <div class="today-main-header__title">БП "Сегодня"</div>
            <div class="today-main-header__subtitle">
                <a href="blog.html">Блог</a>
                <span>- Заголовок статьи</span>
            </div>
            <a href="#services" class="page-scroll btn today-btn--xl">Помочь</a>
        </div>
    </div>
</header>

<!-- Directory -->
<section class="today-main-content u-padding__main-vert--medium-bottom u-color-bg--light-gray">
    <div class="container">
        <div class="today-nav-inner">
            <a class="today-nav-inner__item" href="news.html">Новости</a>
            <a class="today-nav-inner__item" href="events.html">Мероприятия</a>
            <a class="today-nav-inner__item" href="directory.html">Справочник</a>
            <a class="today-nav-inner__item" href="thanks.html">Благодарности</a>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <%- include('partials/detail-content.ejs') -%>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Footer -->
<%- include('partials/footer.ejs') -%>

</body>

</html>
