<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') -%>

<body id="page-top" class="index">

<!-- Navigation -->
<%- include('partials/nav.ejs') -%>

<!-- Header -->
<header class="today-main-header today-main-header--small u-color-bg--fixed-yellow">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">БП "Сегодня"</div>
            <div class="intro-heading">Справочник</div>
            <a href="#services" class="page-scroll btn today-btn--xl">Помочь</a>
        </div>
    </div>
</header>

<!-- Directory -->
<section class="today-post">
    <div class="container">
        <div class="today-breadcrumbs">
            <a class="today-breadcrumbs__item" href="news.html">Справочник</a>
            <span class="today-breadcrumbs__item">Фильм, снятый по материалам праздника...</span>
        </div>

        <div class="row">
            <div class="col-lg-12 today-post__content">
                <div class="today-post__content-item">
                    <h2 class="today-post__title">
                        <a href="#">Фильм, снятый по материалам праздника "Волшебный день для хрустальных людей"</a>
                    </h2>
                    <div class="today-meta">
                        <span class="today-meta-date"><!--TODO:Generated text-->9 Декабря, 2017</span>
                        <a href="#" class="today-meta-like">
                            <i class="fa fa-heart today-meta-icon"></i>&nbsp;<span>0</span>
                        </a>
                    </div>
                    <p>
                        <!--TODO:Generated text-->
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                        ad illo laboriosam libero,
                        modi nulla reiciendis. Eaque quibusdam rem temporibus.
                        Cupiditate error facilis id impedit laudantium quas recusandae. Quo, sequi!</p>
                    <a href="#"
                       class="today-post__content-item__btn-more">Читать все</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<%- include('partials/footer.ejs') -%>

</body>

</html>
