<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') -%>

<body id="page-top" class="index">

<!-- Navigation -->
<%- include('partials/nav.ejs') -%>

<!-- Header -->
<header class="today-main-header today-main-header--small u-color-bg-header-inner">
    <div class="container">
        <div class="today-main-header__content">
            <div class="today-main-header__title">БП "Сегодня"</div>
            <div class="today-main-header__subtitle">Мероприятия</div>
            <a href="#services" class="page-scroll btn today-btn--xl">Помочь</a>
        </div>
    </div>
</header>

<!-- Services -->
<section class="today-main-content today-post u-padding__main-vert--medium-bottom u-color-bg--light-gray">
    <div class="container">
        <div class="today-nav-inner">
            <a class="today-nav-inner__item" href="news.html">Новости</a>
            <a class="today-nav-inner__item" href="blog.html">Блог</a>
            <a class="today-nav-inner__item" href="directory.html">Справочник</a>
            <a class="today-nav-inner__item" href="thanks.html">Благодарности</a>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <%- include('partials/events-content.ejs') -%>
                <div class="u-hide-md-ss"><%- include('partials/pagination.ejs') -%></div>
            </div>
            <aside class="col-sm-4 u-hide-md-ss">
                <%- include('partials/post-sidebar.ejs') -%>
            </aside>
        </div>
    </div>
</section>

<!-- Footer -->
<%- include('partials/footer.ejs') -%>

</body>

</html>
