<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') -%>

<body id="page-top" class="index">

<!-- Navigation -->
<%- include('partials/nav.ejs') -%>

<!-- Header -->
<header class="today-main-header today-main-header--breadcrumbs u-color-bg--fixed-yellow">
    <div class="container">
        <div class="today-main-header__content">
            <div class="today-main-header__title">БП "Сегодня"</div>
            <div class="today-main-header__subtitle">
                <a href="directory.html">Справочник</a>
                <span>- Заголовок статьи</span>
            </div>
            <a href="#services" class="page-scroll btn today-btn--xl">Помочь</a>
        </div>
    </div>
</header>

<!-- Directory -->
<section class="today-post">
    <div class="container">
        <div class="today-post__nav">
            <a class="today-post__nav-item" href="news.html">Новости</a>
            <a class="today-post__nav-item" href="events.html">Мероприятия</a>
            <a class="today-post__nav-item" href="blog.html">Блог</a>
            <a class="today-post__nav-item" href="#">Благодарности</a>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <%- include('partials/post-detail.ejs') -%>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<%- include('partials/footer.ejs') -%>

</body>

</html>
