<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') -%>

<body id="page-top" class="index">

<!-- Navigation -->
<%- include('partials/nav.ejs') -%>

<!-- Header -->
<header class="today-main-header today-main-header--small u-color-bg-header-inner">
    <div class="container">
        <div class="today-main-header__content">
            <div class="today-main-header__title">БП "Сегодня"</div>
            <div class="today-main-header__subtitle">Благодарности</div>
            <a href="#services" class="page-scroll btn today-btn--xl">Помочь</a>
        </div>
    </div>
</header>

<!-- Services -->
<section class="today-thanks">
    <div class="container">
        <div class="today-nav-inner">
            <a class="today-nav-inner__item" href="news.html">Новости</a>
            <a class="today-nav-inner__item" href="blog.html">Блог</a>
            <a class="today-nav-inner__item" href="directory.html">Справочник</a>
            <a class="today-nav-inner__item" href="news.html">Новости</a>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="today-title--section">Спасибо</h2>
                <h3 class="today-subtitle--section">Искренне благодарим за оказанную помощь:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="today-timeline">
                    <div class="today-timeline__row">
                        <div class="today-timeline__panel-heading">
                            <div class="today-timeline__title">10 марта 2016 год</div>
                        </div>
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                        <div class="today-timeline__panel-content">Насте Сабитовой за помощь в размере 10 т.р. для
                            лечения Мурада
                        </div>
                    </div>
                    <div class="today-timeline__row today-timeline__row--inverted">
                        <div class="today-timeline__panel-heading">
                            <div class="today-timeline__title">10 сентября 2016 год</div>

                        </div>
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                        <div class="today-timeline__panel-content">Алле Дубинской за помощь в размере 10 т.р. для
                            лечения ребенка с ДЦП
                        </div>
                    </div>
                    <div class="today-timeline__row">
                        <div class="today-timeline__panel-heading">
                            <div class="today-timeline__title">1 янваяря 2017 год</div>

                        </div>
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                        <div class="today-timeline__panel-content">
                            анонимному дарителю за сумму в размере 1000 долл. на оплату билетов в Чехию на
                            реабилитационное лечение для Левы Гусева (подопечного фонда)
                        </div>
                    </div>
                    <div class="today-timeline__row today-timeline__row--inverted">
                        <div class="today-timeline__panel-heading">
                            <div class="today-timeline__title">12 марта 2017 год</div>

                        </div>
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                        <div class="today-timeline__panel-content">
                            спасибо Марии Голубевой за постоянную помощь с медикаментами для подшефных фонда БЭЛА детей
                            - бабочек, за канцелярию для детей из Ефимовской школы-интерната, а также за помощь детям 67
                            школы-интерната
                        </div>
                    </div>
                    <div class="today-timeline__row">
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<%- include('partials/footer.ejs') -%>

</body>

</html>
