<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') -%>

<body id="page-top" class="index">

<!-- Navigation -->
<%- include('partials/nav.ejs') -%>

<!-- Header -->
<header class="today-main-header today-main-header--small u-color-bg-header-inner">
    <div class="container">
        <div class="today-main-header__content">
            <div class="today-main-header__title">БП "Сегодня"</div>
            <div class="today-main-header__subtitle">Благодарности</div>
            <a href="#services" class="page-scroll btn today-btn--xl">Помочь</a>
        </div>
    </div>
</header>

<!-- Services -->
<section class="today-thanks">
    <div class="container">
        <div class="today-nav-inner">
            <a class="today-nav-inner__item" href="news.html">Новости</a>
            <a class="today-nav-inner__item" href="blog.html">Блог</a>
            <a class="today-nav-inner__item" href="directory.html">Справочник</a>
            <a class="today-nav-inner__item" href="news.html">Новости</a>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="today-title--section">Спасибо</h2>
                <h3 class="today-subtitle--section">Искренне благодарим за оказанную помощь</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="today-timeline" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="today-timeline__row">
                        <div class="today-timeline__panel-heading">
                            <div class="today-timeline__title">Март 2017 год<!--TODO:Generated text--></div>
                        </div>
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                        <div class="today-timeline__panel-content" role="tab" id="heading1">
                            <p>
                                <!--TODO:Generated text-->
                                анонимному дарителю за сумму в размере 1000 долл. на оплату билетов в Чехию на
                                реабилитационное лечение для Левы Гусева (подопечного фонда)
                            </p>
                            <div id="collapse1" class="today-panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading1">
                                <p>
                                    анонимному дарителю за сумму в размере 1000 долл. на оплату билетов в Чехию на
                                    реабилитационное лечение для Левы Гусева (подопечного фонда)
                                </p>
                                <p>
                                    спасибо Марии Голубевой за постоянную помощь с медикаментами для подшефных фонда
                                    БЭЛА
                                    детей - бабочек, за канцелярию для детей из Ефимовской школы-интерната, а также
                                    за
                                    помощь детям 67 школы-интерната
                                </p>
                                <p>
                                    Кате Кондаковой за постоянную помощь отказникам (лекарства, одежда и т.д.)
                                </p>
                            </div>
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse1"
                               aria-expanded="true"
                               aria-controls="collapseOne"
                               class="today-btn__show">
                                <i class="today-btn__show-icon fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="today-timeline__row today-timeline__row--inverted">
                        <div class="today-timeline__panel-heading">
                            <div class="today-timeline__title">10 сентября 2016 год</div>
                        </div>
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                        <div class="today-timeline__panel-content" role="tab" id="heading2">
                            <p><!--TODO:Generated text-->Насте Сабитовой за помощь в размере 10 т.р. для лечения
                                Мурада</p>
                            <div id="collapse2" class="today-panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading2">
                                <p>
                                    анонимному дарителю за сумму в размере 1000 долл. на оплату билетов в Чехию на
                                    реабилитационное лечение для Левы Гусева (подопечного фонда)
                                </p>
                                <p>
                                    спасибо Марии Голубевой за постоянную помощь с медикаментами для подшефных фонда
                                    БЭЛА
                                    детей - бабочек, за канцелярию для детей из Ефимовской школы-интерната, а также
                                    за
                                    помощь детям 67 школы-интерната
                                </p>
                                <p>
                                    Кате Кондаковой за постоянную помощь отказникам (лекарства, одежда и т.д.)
                                </p>
                            </div>
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse2"
                               aria-expanded="true"
                               aria-controls="collapse2"
                               class="today-btn__show">
                                <i class="today-btn__show-icon fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="today-timeline__row">
                        <div class="today-timeline__panel-heading">
                            <div class="today-timeline__title">1 янваяря 2017 год</div>

                        </div>
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                        <div class="today-timeline__panel-content" role="tab" id="heading3">
                            <p><!--TODO:Generated text-->Насте Сабитовой за помощь в размере 10 т.р. для лечения
                                Мурада</p>
                            <div id="collapse3" class="today-panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading3">
                                <p>
                                    анонимному дарителю за сумму в размере 1000 долл. на оплату билетов в Чехию на
                                    реабилитационное лечение для Левы Гусева (подопечного фонда)
                                </p>
                                <p>
                                    спасибо Марии Голубевой за постоянную помощь с медикаментами для подшефных фонда
                                    БЭЛА
                                    детей - бабочек, за канцелярию для детей из Ефимовской школы-интерната, а также
                                    за
                                    помощь детям 67 школы-интерната
                                </p>
                                <p>
                                    Кате Кондаковой за постоянную помощь отказникам (лекарства, одежда и т.д.)
                                </p>
                            </div>
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse3"
                               aria-expanded="true"
                               aria-controls="collapse3"
                               class="today-btn__show">
                                <i class="today-btn__show-icon fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="today-timeline__row today-timeline__row--inverted">
                        <div class="today-timeline__panel-heading">
                            <div class="today-timeline__title">12 марта 2017 год</div>

                        </div>
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                        <div class="today-timeline__panel-content" role="tab" id="heading4">
                            <p><!--TODO:Generated text-->Насте Сабитовой за помощь в размере 10 т.р. для лечения
                                Мурада</p>
                            <div id="collapse4" class="today-panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading4">
                                <p>
                                    анонимному дарителю за сумму в размере 1000 долл. на оплату билетов в Чехию на
                                    реабилитационное лечение для Левы Гусева (подопечного фонда)
                                </p>
                                <p>
                                    спасибо Марии Голубевой за постоянную помощь с медикаментами для подшефных фонда
                                    БЭЛА
                                    детей - бабочек, за канцелярию для детей из Ефимовской школы-интерната, а также
                                    за
                                    помощь детям 67 школы-интерната
                                </p>
                                <p>
                                    Кате Кондаковой за постоянную помощь отказникам (лекарства, одежда и т.д.)
                                </p>
                            </div>
                            <a role="button"
                               data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse4"
                               aria-expanded="true"
                               aria-controls="collapse4"
                               class="today-btn__show">
                                <i class="today-btn__show-icon fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="today-timeline__row">
                        <div class="today-timeline__image">
                            <div class="today-timeline__row-text">
                                Будь частью<br>нашей<br>истории!
                            </div>
                            <i class="today-timeline__row-icon fa fa-heartbeat"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<%- include('partials/footer.ejs') -%>

</body>

</html>
