<section class="first">
    <div class="container-fluid">

    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1 data-bind="text: foo"></h1>
                    <p>
                        Заполните <i class="icon-20 i-download-alt"></i><a href="//todayspb.com/Anketa_volontera.doc">анкету волонтера</a>
                        и пришлите на почту <a href="mailto:info@todayspb.com">info@todayspb.com</a>
                    </p>
                </div>

                <h2>Благотворительный фонд «СЕГОДНЯ»</h2>
                <p>
                    создан в феврале 2014 года для того, чтобы помогать людям с тяжелыми заболеваниями,
                    находящимся в трудной жизненной ситуации.
                </p>
                <p>
                    Фонд осуществляет работу по реализации
                    помощи - инвалидам, детям находящимся в реанимации, детям оставшимся без
                    попечения родителей и семьям попавшим в трудную жизненную ситуацию.
                </p>

                <div class="page-header">
                    <h1>Ищем волонтеров</h1>
                </div>
                <p><strong>Ищем в команду</strong> ответственных, честных и добросовестных.</p>
                <ul>
                    <li>
                        <p>
                            с <strong>организаторскими</strong> способностями,
                            готовыми посвящать немного свободного
                            времени для разработки и реализации
                            программ помощи
                        </p>
                    </li>
                    <li>
                        <p>
                            со знанием <strong>иностранных языков</strong> для
                            осуществления переводов, и др. помощи
                        </p>
                    </li>
                    <li><p><strong>фандрайзер</strong> - специалист для привлечения денежных средств</p></li>
                    <li><p><strong>по связям с общественностью</strong> - специалист пиар-отдела</p></li>
                    <li>
                        <p>помощь с <strong>организацией акций</strong>, <strong>флеш-мобов</strong> и других мероприятий</p>
                    </li>
                    <li>
                        <p>
                            <strong>помощь он-лайн</strong> - помогать распространять информацию о фонде, о программах,
                            о помощи конкретному человеку и оказывать иную информационную поддержку;
                            также помощь тех, кто готов поделиться полезной информацией на нашем форуме;
                            модерировать сообщества в соц.сетях, помогать с написанием текстов и проч.
                        </p>
                    </li>
                    <li>
                        <p>
                            которые будет заниматься самыми приятными вещами в
                            фонде - организовывать поздравления наших подопечных с днём рождения и другими праздниками
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Координатор</strong> - для организации адресной помощи подопечным фонда. Желательно с опытом работы
                            в привлечении адресной помощи нуждающимся, адекватность, соответствие цели фонда,
                            компетенция, ответственность, исполнительность.<br />
                            Основная задача: написание объявлений о помощи подопечным (умение писать тексты),
                            размещение в интернет-ресурсах фонда, общение с людьми - подопечными и помогающими, обеспечение обратной связи и отчетности.
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Флористы, художники, творческие люди</strong>
                        </p>
                    </li>
                </ul>
                <blockquote class="blockquote-warning">
                    <h4>Требования к волонтерам</h4>
                    <ol>
                        <li>Не опаздывать на занятия.</li>
                        <li>Желательно иметь свои флористические инструменты (секатор, флористические ножницы).</li>
                    </ol>
                    <footer class="text-warning">Цветы и дополнительные материалы флористу предоставляются бесплатно. По желанию флорист может приобрести их самостоятельно.</footer>
                </blockquote>
                <div class="page-header">
                    <h2>Проводим обучение флористике и батику</h2>
                </div>
                <p>
                    Индивидуальные и групповые творческие занятия для детей и взрослых.
                    Развиваем художественно-эстетический вкус и творческие способности.<br />
                    Больше о занятиях можно узнать в группе
                    <a href="//vk.com/pro_bono_florists">Pro bono "Флористика людям"</a>
                    и на сайте <a href="//blossoming.ru/">blossoming.ru</a>.
                </p>
                <p>
                    Для записи на курс, заполните
                    <i class="icon-20 i-download-alt"></i><a href="//todayspb.com/engine/download.php?id=7">анкету</a>
                    и пришлите на почту <a href="mailto:blossoming.ru@gmail.com">blossoming.ru@gmail.com</a>
                </p>

                <h3>«Флористика людям» <small> - занятия по флористике и декорированию</small></h3>
                <p>
                    На занятиях учимся ухаживать за цветами, составляем букеты,
                    композиции, делаем венки и флорариумы.<br />
                    Работаем со срезанными и горшечными цветами, природными и искусственными материалами.<br />
                    Учимся сочетать цветы, различные текстуры и материалы.
                </p>
                <p>«Флористика людям» – это творчество, игра и учеба.</p>

                <h3>Занятия по рисованию и батику <small>- на занятиях рисуем, фантазируем, придумываем сюжеты. Изучаем цвета, формы, учимся работать с кистями.</small></h3>
                <strong>Используем:</strong>
                <ul>
                    <li>цветные и акварельные карандаши</li>
                    <li>акварель, гуашь, акриловые краски</li>
                    <li>пастель</li>
                    <li>фломастеры</li>
                </ul>
            </div>
        </div>
    </div>
</section>