
<section class="first">
    <div class="container-fluid">

    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="page-header">
            <h1 data-bind="text: foo"></h1>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h2>Перечень фондов</h2>
                <ul>
                    <li>
                        <a href="//www.hopestar.ru/index.wbp" target="_blank">БФ Под звездой надежды</a>
                        фонд был создан в мае 2009 года, как уникальный социальный проект, цели которого – оказать
                        адресную и оперативную помощь детям с тяжелыми патологиями, генетическими и
                        онкологическими заболеваниями
                    </li>
                    <li><a href="//www.detskyfond.info/" target="_blank">БФ социальной помощи детям</a> оказание социальной помощи детям, оставшимся без попечения родителей, и детям-инвалидам</li>
                    <li><a href="//www.rusfond.ru/" target="_blank">Русфонд </a> спасение тяжелобольных детей, содействие развитию гражданского общества, внедрению высоких медицинских технологий</li>
                    <li><a href="//bf-sozidanie.ru/" target="_blank">БФ Созидание </a> фонд оказывает помощь Детским домам, Домам ребенка, приютам и интернатам, больницам, а также детям и взрослым, находящимся на лечении в клиниках</li>
                    <li><a href="//www.nadezhdafond.ru/" target="_blank">БФ Надежда </a> oказание помощи больным детям., в т.ч. помощь детям с сердечной патологией, помощь детям, пострадавшим от тяжелых ожогов различного происхождения</li>
                    <li>
                        <a href="//www.bfspas.org/" target="_blank">БФ Спасение </a>
                        Помощь детям, получившим обширные ожоги, помощь в лечении трудноизлечимых хронических заболеваний,
                        помощь людям, с нарушениями функций опорно-двигательного аппарата (прежде всего людям, получившим
                        травмы позвоночника и парализованным), помощь медицинским и детским учреждениям. Это и финансовая помощь,
                        и помощь в приобретении медицинского оборудования, расходных материалов и операционного инструментария,
                        Помощь детям, имеющим онкологические заболевания, Поддержка инвалидов; малоимущих, имеющих тяжелые
                        заболевания; граждан, имеющих низкий прожиточный уровень, Оказание безвозмездной финансовой помощи
                        для решения экстренных ситуаций, Оказание помощи некоммерческим учреждениям и фирмам
                    </li>
                    <li>
                        <a href="//podari-zhizn.ru/main" target="_blank">БФ Подари жизнь </a> благотворительный фонд помощи
                        детям с онкогематологическими и иными тяжелыми заболеваниями «Подари жизнь»
                    </li>
                    <li>
                        <a href="//deti-bela.ru/" target="_blank">БФ Дети бэла </a> Помощь детям, страдающим буллезным эпидермолизом
                    </li>
                </ul>
                <div class="page-header">
                    <h2>ДЦП <small>детский церебральный паралич</small></h2>
                </div>
                <h3>Что является причиной</h3>
                <p>
                    Такое явление как детский церебральный паралич может возникать по разным причинам, обычно этому
                    способствуют нарушение процесса внутриутробного развития с тяжелыми инфекциями во время течения беременности,
                    инфицирование цитомегаловирусом, токсоплазмозом или герпесной инфекцией. Возможно при позднем токсикозе
                    беременности и гестозе, при формировании несовместимости по резус-фактору – резус-конфликте матери
                    и пода, а также при нарушении иммунных механизмов во время беременности и формирования агрессии тела матери против плода.
                </p>
                <p>
                    Способствовать развитию детского церебрального паралича могут стремительные, либо, наоборот,
                    затяжные роды, роды при тазовом или косом положении плода, а также родовой травматизм ребенка,
                    при этом повышен риск развития ДЦП при неонатальной желтухе. Все эти факторы приводят к тяжелой
                    гипоксии плода (кислородному голоданию), вплоть до формирования асфиксии в родах (удушья).
                    Это в результате приводит к тому, что нарушается правильная закладка мозговых структур
                    и потом уже страдает и правильное развитие головного мозга ребенка.
                </p>
                <p>
                    На сегодня точную причину развития детского церебрального паралича установить пока невозможно.
                    Одними из факторов риска его возможного формирования могут стать заболевания женщины
                    соматического плана и эндокринные расстройства – эпилепсия, слабоумие или гипотиреоз,
                    а также наличие вредных привычек – алкоголизм, наркомания. Могут быть влиять
                    длительные периоды бесплодия, ранний возраст в родах или поздно родящий, стрессовые ситуации.
                </p>
                <h3>Общие проявления ДЦП</h3>
                <p>
                    Первые проявления заболевания возможны еще в первые часы и дни жизни ребенка, и тогда паралич
                    диагностируют сразу, а возможны варианты развития его в первые месяцы жизни, по мере того.
                    Как ребенок начинает все больше и больше отставать в уровне физического.
                    И особенно – нервно-психического своего развития от сверстников. Проявления и сроки его
                    формирования будут зависеть от тяжести поражения мозговых структур и всей нервной системы в целом,
                    симптомы очень сильно зависят от степени недоразвитости мозга и конкретной локализации пораженных
                    участков мозга. При этом выраженность проявлений также зависит от уровня и глубины
                    поражения – это могут быть и очень легкие, и достаточно тяжелые поражения, которые приводят к инвалидности.
                </p>
                <p>
                    Обычно первыми тревожными симптомами со стороны ребенка, которые заставляют родителей обращаться к врачам,
                    являются задержки в формировании определенных двигательных навыков малыша, если у ребенка отсутствуют
                    произвольные движения, либо у него формируются неестественные и навязчивые движения, он плохо держит
                    или совсем не держит голову, возникают судороги разной степени выраженности и существенно отстает
                    речевое развитие. Все это заставляет беспокоиться и обследовать ребенка. Так выявляются первые признаки детского церебрального паралича.
                </p>
                <p>
                    Зачастую поражаются те участки мозговой ткани, которые отвечают за произвольные движения,
                    равновесие и поддержание мышечного тонуса. В результате этих поражений мозг ребенка не в состоянии
                    правильно осуществлять руководство телом и давать адекватные команды мышцам на управление телом.
                    Тогда появляются нарушения движений в идее параличей, повышается мышечный тонус,
                    возникают непроизвольные подергивания и движения.
                </p>
                <p>
                    Родители начинают замечать, что их ребенок отстает в развитии от других детей – он совсем не
                    двигает конечностями или движения его плохо координированы, он поздно учится двигать головой,
                    переворачиваться с живота на спину и обратно, не интересуется игрушками, поздно садится, ползает и начинает ходить.
                    При попытках поставить ребенка на ноги, он начинает опираться на цыпочки, не ставя ногу на всю стопу,
                    не может удержать игрушки в руках, а также не может осознанно поднимать руки и ноги, разжимать
                    кулачки или двигать стопами. При резком повышении тонуса мышц ограничиваются движения
                    малыша вплоть до его полной обездвиженности.
                </p>
                <p>
                    Паралич может затрагивать только одну конечность, либо быть односторонним – на ноге и руке,
                    а может захватывать обе ноги и обе руки. Пораженные конечности обычно начинают отставать в развитии от
                    здоровых – они будут ороче и тоньше, проявляется деформация скелета, могут формироваться контрактуры на
                    суставах, что еще больше усложняет произвольные движения.
                </p>
                <p>
                    При поражении мозга могут нарушаться процессы координации движений – может страдать походка, дети могут
                    часто падать, производить неестественные, вычурные движения, кивая головой, а также производить
                    непроизвольные действия конечностями. Могут возникать спонтанные эпилептические припадки с потерей
                    сознания и судорогами, развивается косоглазие, нистагмоидные подергивания глаз, а также страдают
                    слух и зрение, формируются расстройства психики, дыхательной функции и пищеварения, может при этом
                    нарушаться поведение и способности к обучению.
                </p>
                <h3>Формы ДЦП <small>cпособы классификации детского церебрального паралича</small></h3>
                <p>
                    Существует классификация ДЦП по структурам мозга и зонам поражения.
                    В зависимости от уровня поражения структур мозга международной классификацией болезней 10 пересмотра <strong>выделяется семь основных форм ДЦП</strong>:
                </p>
                <ul>
                    <li>
                        спастическая диплегия или болезнь Литтла, это поражение  обеих половин тела, при этом руки поражены сильнее ног,
                        спастический паралич или двойная гемиплегия или тетраплегия, поражение и рук, и ног
                    </li>
                    <li>детская форма гемиплегии</li>
                    <li>дискинетическая форма церебрального паралича</li>
                    <li>атаксическая форма церебрального паралича</li>
                    <li>смешанные формы паралича</li>
                    <li>не уточненные формы ДЦП</li>
                </ul>
                <p>
                    <strong>Лечение ДЦП –</strong> это комплекс медикаментозной терапии, постоянные занятия лечебной физкультурой,
                    хирургические и ортопедические методы лечения, занятия по развитию речи и санаторно-курортное лечение,
                    малыша нужно учить выполнению всех доступных для него навыков и поддержание его навыков на должном уровне.
                </p>
                <h3>Лечение в Санкт-Петербурге</h3>
                <ul>
                    <li>
                        <a href="//www.rosturner.ru/" target="_blank">Научно-исследовательский детский ортопедический институт им. Г. И. Турнера (НИДОИ им. Турнера)</a> Санкт-Петербург, г. Пушкин, ул. Парковая, 64-68<br />
                        Единственное в России специализированное лечебно-научное учреждение по оказанию помощи детям
                        и подросткам с врожденной и приобретенной патологией опорно-двигательного аппарата.
                        В нескольких клиниках института проводятся сложные операции по всему спектру ортопедических заболеваний,
                        в том числе и по поводу врожденного и идиопатического сколиоза. При институте действует
                        общеобразовательная школа для находящихся на лечении детей.
                    </li>
                    <li>
                        <a href="//www.rniito.org/" target="_blank">Российский научно-исследовательский институт травматологии и ортопедии имени Р.Р.Вредена (РНИИТО им. Вредена)</a> Санкт-Петербург, ул. академика Байкова, 8<br />
                        Крупнейшее в России клиническое, научное и учебное учреждение в области травматологии и ортопедии,
                        обладающее 22 специализированными отделениями общей емкостью 830 коек. Все виды диагностики,
                        хирургического лечения и реабилитации, работает поликлиника.
                    </li>
                    <li>
                        <a href="//gpma.ru/" target="_blank">Санкт-Петербургская государственная педиатрическая медицинская академия (СПбГПМА) </a>
                        В Педиатрической академии, которая готовит врачей педиатров, действуют консультативно-диагностический центр,
                        амбулаторно-поликлиническое отделение и клиника. Одно из хирургических отделений клиники института
                        специализируется на лечении травм и ортопедических заболеваний позвоночника.
                    </li>
                    <li>
                        <a href="//www.rosturner.ru/mapo.htm" target="_blank">Медицинская академия последипломного образования (СПб МАПО, бывший ГИДУВ) </a>
                        Кафедра детской травматологии и ортопедии
                        Санкт-Петербург, г. Пушкин, ул. Парковая, 64-68<br />
                        Преподаватели этой единственной в России специализированной кафедры детской травматологии и ортопедии разрабатывают методы
                        консервативного и оперативного лечения детей и подростков с различными врожденными и приобретенными патологиями опорно-двигательного аппарата,
                        а также занимаются разработкой комплексных программ реабилитации таких больных. Кафедра обладает крупной клинической базой,
                        в которую входят клиники института им. Турнера, санаторий "Огонек", множество детских городских больниц Санкт-Петербурга.
                    </li>
                    <li>
                        <a href="//www.center-albreht.ru/" target="_blank">Санкт-Петербургский научно-практический центр медико-социальной экспертизы, протезирования и реабилитации инвалидов имени Г. А. Альбрехта </a>
                        Санкт-Петербург, ул. Бестужевская, 50<br />
                        В составе центра действует многопрофильная клиника на 500 коек, в которой есть несколько ортопедических отделений.
                        В детском реабилитационно-восстановительном центре
                        для детей-инвалидов проводится комплексная реабилитация детей в возрасте 14-18 лет, преимущественно
                        с ограничениями способности к передвижению, самообслуживанию, трудовой деятельности, обучению.
                    </li>
                    <li>
                        <a href="//scoliologic.ru/" target="_blank">Восстановительный центр детской ортопедии и травматологии "Огонек"</a>
                        Лаборатория ортезирования Центра им. Альбрехта Изготовление ортезов и корсетов Шено.<br />
                        Санкт-Петербург, пос. Стрельна, Санкт-Петербургское шоссе, 101<br/>
                        На лечение принимаются дети в возрасте 4 - 15 лет с заболеваниями опорно-двигательного аппарата,
                        в т.ч. со сколиозом. Центр функционирует круглый год, работают общеобразовательная школа, закрытый бассейн,
                        сауна, спортивный зал, спортивные площадки, тренажерный зал, детская игровая комната, библиотека.
                        Проводится лечение: полный спектр физиотерапии, бальнеотерапии, грязелечение,психотерапия,
                        рефлексотерапия, массаж, ЛФК, фитотерапия, медикаментозная терапия.
                    </li>
                </ul>
                <h3>Cписок реабилитационных центров для детей с ДЦП</h3>
                <ul>
                    <li>
                        <a href="//vk.com/club33177690">Детский реабилитационный центр "РОДНИК"</a>
                        Реабилитация детей с поражением ЦНС (ДЦП, органическое поражение мозга, задержки речевого и психомоторного развития)<br />
                        Ярославский пр. д.66 кор.1, тел. <a href="tel:89215865402">8 921 586 54 02</a> или <a href="tel:89522332024">8 952 233 20 24</a>
                    </li>
                    <li>
                        <a href="//vk.com/club33177690">Войта-терапия в Санкт-Петербурге</a>
                        Реабилитация детей с поражением ЦНС (ДЦП, органическое поражение мозга, задержки речевого и психомоторного развития)<br />
                        Ярославский пр. д.66 кор.1, тел. <a href="tel:89215865402">8 921 586 54 02</a> или <a href="tel:89522332024">8 952 233 20 24</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
</section>

