@import "../common/mixins";
@import "../common/variables";

// Social Buttons
.today-btn {
    &--close {
        margin-top: $margin-double;
    }

    // Size
    &--xl {
        @include button-variant($color-white, $color-brand, $color-brand);
        @include heading-font;
        font-weight: 700;
        border-radius: 3px;
        font-size: $font-size-x;
        padding: 10px 40px;
    }

    &__read-more {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        border: 0;
        color: $color-meta;
        margin: $margin-base 0 0;

        &:hover,
        &:active,
        &:focus {
            color: $color-font-base;
        }

        &::after {
            content: "→";
            vertical-align: text-bottom;
            padding-left: 5px;
            display: inline-block;
        }
    }

    // Social
    &-social {
        &__item {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }
        a {
            display: block;
            background-color: $color-gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: $color-white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $color-brand;
            }
        }
    }
}

p + .today-btn__read-more {
    margin-top: 0;
}