@import "../common/variables";
@import "../common/mixins.scss";

::-moz-selection {
    text-shadow: none;
    color: $color-white;
    background: $color-brand;
}

::selection {
    text-shadow: none;
    color: $color-white;
    background: $color-brand;
}

html,
body {
    min-height: 100vh;
}

body {
    overflow-x: hidden;
    @include body-font;
    color: $color-font-base;
    webkit-tap-highlight-color: $color-brand;
    @include flex;
    @include flex-column;

    .today-main-content {
        flex: 1;
        position: relative;
    }
}

p,
.today-text {
    @include paragraph-font;
}

p {
    margin: 0 0 $margin-base;
}

a {
    color: $color-gray-darker;
    font-weight: 700;
    border-bottom: 1px solid;
    border-bottom-color: rgba(34, 34, 34, .2);
}

a,
a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
    outline: none;
}

a:hover,
a:active,
a:focus,
a.active {
    color: $color-brand;
    border-bottom-color: $color-brand;
}

a, i {
    transition: all 200ms ease-in;
}

.today-link-modal {
    border-bottom: 1px dashed;
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.h4, h4 {
    line-height: 26px;
}

// Img - Video
.img-centered {
    margin: 0 auto;
}

.today-image-inner,
.today-video-inner {
    margin-bottom: $margin-base;
    overflow: hidden;
}

.today-image-inner {
    max-width: 750px;

    img {
        display: inline;
        @include size(100%, auto);
        max-width: 100%;
        -webkit-backface-visibility: hidden;
        transition: all 0.3s ease-out;
        vertical-align: middle;
    }
}

.today-video-inner {
    iframe {
        width: 100%;
        min-height: 400px;
        max-width: 750px;
    }
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

figure {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

// Global Header
.today-main-header {
    text-align: center;

    a {
        border: none;
    }

    &__content {
        padding-top: $padding-large;
        padding-bottom: 50px;
    }

    &__title,
    &__subtitle {
        text-shadow: 2px 2px 1px #1e170b;
    }

    &__title {
        @include serif-font;
        font-style: italic;
        font-size: 22px;
        line-height: 22px;
        margin-bottom: $margin-base;
    }

    &__subtitle {
        @include heading-font;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: $margin-base;

        a {
            color: $color-white;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        // For mobile
        @media (max-width: map-get($grid-breakpoints, md)-1) {
            font-size: 35px;
            line-height: 40px;
        }
    }

    &--small {
        .today-main-header__content {
            padding-top: 75px;
            padding-bottom: 25px;
        }
    }

    &--breadcrumbs {
        @extend .today-main-header--small;

        .today-main-header__subtitle {
            @include heading-font;
            font-weight: 700;
            font-size: 38px;
            line-height: 48px;;
            margin-bottom: $margin-base;
        }
    }

    // For desktop
    @media(min-width: map-get($grid-breakpoints, md)) {
        &__content {
            padding-top: 300px;
            padding-bottom: 200px;
        }
        &__title {
            @include serif-font;
            font-style: italic;
            font-size: 40px;
            line-height: 40px;
            margin-bottom: $margin-base;
        }
        &__subtitle {
            @include heading-font;
            font-weight: 700;
            font-size: 75px;
            line-height: 75px;
            margin-bottom: 50px;
        }

        &--small {
            .today-main-header__content {
                padding-top: 150px;
                padding-bottom: 50px;
            }
        }
    }
}

// Global Footer
.today-main-footer {
    padding: $padding-base 0;
    text-align: center;

    &__copyright {
        line-height: 40px;
        @include heading-font;
        text-transform: none;
        padding: 0 $padding-half;
    }

    &__social {
        display: inline-block;
        margin: $margin-base;
    }

}