@import "../common/variables";
@import "../common/mixins.scss";

::-moz-selection {
    text-shadow: none;
    color: $color-white;
    background: $color-brand;
}

::selection {
    text-shadow: none;
    color: $color-white;
    background: $color-brand;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

figure {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    @include body-font;
    color: $color-font-base;
    webkit-tap-highlight-color: $color-brand;
}

p {
    @include paragraph-font;
    margin: 0 0 $margin-base;
}

p.large {
    font-size: 16px;
}

a {
    color: $color-gray-darker;
    font-weight: 700;
    border-bottom: 1px solid;
    border-bottom-color: rgba(34, 34, 34, .2);
}

a,
a:hover,
a:focus,
a:active,
a.active {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus,
a:active,
a.active {
    color: $color-brand;
    border-bottom-color: $color-brand;
}

a, i {
    transition: all 200ms ease-in;
}

.today-link-modal {
    border-bottom: 1px dashed;
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.h4, h4 {
    line-height: 26px;
}

// Img
.img-centered {
    margin: 0 auto;
}

// For desktop
@media(min-width: map-get($grid-breakpoints, md)) {
    .today-hr--large {
        margin-top: $margin-large-x;
        margin-bottom: $margin-large-x;
    }
}

// Global Header
.today-main-header {
    text-align: center;

    a {
        border: none;
    }

    .intro-text {
        padding-top: $padding-large;
        padding-bottom: 50px;
        .intro-lead-in {
            @include serif-font;
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: $margin-base;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: $margin-base;
        }
    }

    &--small {
        .intro-text {
            padding-top: 75px;
            padding-bottom: 25px;
        }
    }

    // For desktop
    @media(min-width: map-get($grid-breakpoints, md)) {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                @include serif-font;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: $margin-base;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }

        &--small {
            .intro-text {
                padding-top: 140px;
                padding-bottom: 50px;
            }
        }
    }
}

// Global Footer
footer {
    padding: $padding-base 0;
    text-align: center;
    span.copyright {
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
}