@import "../common/variables";
@import "../common/mixins.scss";

/***
 * Meta info (date/like)
 *
 * Example:
 * <div class="today-meta">
 *      <span class="today-meta-date">9 Декабря, 2017</span>
 *      <a href="#" class="today-meta-like">
 *          <i class="fa fa-heart today-meta-icon"></i>&nbsp;<span>0</span>
 *       </a>
 * </div>
 */

.today-meta {
    color: $color-meta;
    font-size: $font-size-s;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: $margin-half;

    &-date {}

    &-like {
        color: $color-meta;
        font-weight: 500;
        border: 0;

        &:hover,
        &:focus,
        &:active {
            color: $color-meta;

            .today-meta-icon {
                color: $color-brand;
            }
        }

        &:before {
            content: "|";
            padding: 0 $padding-half;
        }
    }
}