@import "../common/mixins";
@import "../common/variables";

$color-odd-li: #f1f1f1;

.today-modal {
    &-page {
        .modal-dialog {
            margin: 0;
            height: 100%;
            width: auto;
        }
        .modal-content {
            border-radius: 0;
            background-clip: border-box;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: none;
            min-height: 100%;
            padding: $padding-large 0;

            h2 {
                margin-bottom: 15px;
                font-size: 3em;
            }
            p {
                margin-bottom: 30px;
            }
            p.item-intro {
                margin: $margin-base 0 30px;
                @include serif-font;
                font-style: italic;
                font-size: 16px;
            }

            img {
                margin-bottom: 30px;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    padding: $padding-half $padding-base;

                    &:nth-child(odd) {
                        background-color: $color-odd-li;
                    }
                }
            }
        }
        .close-modal {
            position: absolute;
            width: 75px;
            height: 75px;
            background-color: transparent;
            top: 25px;
            right: 25px;
            cursor: pointer;
            &:hover {
                opacity: 0.3;
            }
            .lr {
                height: 75px;
                width: 1px;
                margin-left: 35px;
                background-color: $color-gray-darker;
                transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                /* IE 9 */
                -webkit-transform: rotate(45deg);
                /* Safari and Chrome */
                z-index: 1051;
                .rl {
                    height: 75px;
                    width: 1px;
                    background-color: $color-gray-darker;
                    transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    /* IE 9 */
                    -webkit-transform: rotate(90deg);
                    /* Safari and Chrome */
                    z-index: 1052;
                }
            }
        }
        .modal-backdrop {
            opacity: 0;
            display: none;
        }
    }
}