@import "../common/mixins";
@import "../common/variables";

/***
 * Nav Inner
 *
 * Example:
 *      <div class="today-nav-inner">
 *          <a class="today-nav-inner__item" href="">...</a>
 *          <a class="today-nav-inner__item" href="">...</a>
 *      </div>
 */
.today-nav {
    &-toolbar {
        @include flex-column;
        @include flex-start;
        margin-top: $margin-base;

        h2 {
            margin: 0 0 $margin-half;
        }
        .today-share {
            margin: 0 0 $margin-base;
            &__trigger button {
                margin-left: 0;
            }
        }

        // For mobile
        @media(max-width: map-get($grid-breakpoints, md)) {
            h2 {
                margin-bottom: $margin-base;
            }
        }
    }
    &-inner {
        margin: $margin-base 0 $margin-double;

        &__item {
            line-height: 1;
            display: inline-block;
            margin-right: $margin-half;
            text-transform: uppercase;
        }
    }
}