@import "../common/mixins";
@import "../common/variables";

$color-post-border: $color-gray-controls-elem;

.today-post {
    &__content {
        &-item {
            padding: 0 0 30px;

            &:not(:last-child) {
                margin-bottom: 40px;
                border-bottom: 2px solid $color-post-border;
            }

            .today-post__title {
                font-size: $font-size-xx;
                line-height: $line-height-xx;
                margin: 0 0 $margin-half;
            }

            &__image,
            &__video {
                margin-bottom: $margin-base;
                overflow: hidden;
            }

            &__image {
                max-height: 500px;
                max-width: 750px;

                a:hover {
                    .today-post-image__overlay {
                        opacity: 1;
                        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
                        -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                    }
                    img {
                        -o-transform: scale(1.05);
                        -ms-transform: scale(1.05);
                        -moz-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }

                img {
                    display: inline;
                    @include size(100%, auto);
                    max-width: 100%;
                    -webkit-backface-visibility: hidden;
                    transition: all 0.3s ease-out;
                    vertical-align: middle;
                }

                .today-post-image__overlay {
                    opacity: 0;
                    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
                    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                    @include size(100%, 100%);
                    position: absolute;
                    text-decoration: none;
                    z-index: 100;
                    padding: $padding-double;
                    background: $color-gray-darker;
                    background: rgba(38, 43, 47, 0.8);
                    transition: all 0.4s;

                    &-info {
                        text-align: center;
                        top: 50%;
                        width: 100%;
                        left: 0;
                        position: absolute;
                        margin-top: -12px;

                        span {
                            padding: $padding-half $padding-base;
                            font-size: $font-size-xx;
                            font-weight: 700;
                            color: $color-white;
                        }
                    }
                }
            }

            &__video {
                iframe {
                    width: 100%;
                    min-height: 400px;
                    max-width: 750px;
                }
            }
        }
    }

    &__sidebar {
        &__title {
            font-size: $font-size-x;
            margin-top: 0;
        }

        &__row {
            margin-top: 30px;
        }

        &__list {
            &-item {
                margin-bottom: $margin-half;

                &__image {
                    float: left;
                    @include size(70px, 70px);
                    overflow: hidden;
                    position: relative;

                    image {
                        display: block;
                        max-width: 100%;
                    }
                }

                &__meta {
                    margin-left: $margin-treble;
                    color: $color-meta;
                    font-size: $font-size-s;
                    font-weight: 500;
                    text-transform: uppercase;

                    h5 {
                        font-size: $font-size-base;
                        line-height: $line-height-base;
                        margin: 0 0 5px;
                    }
                }

                @include clear-fix;
            }
        }

        &__video {
            &-item {
                margin-top: $margin-base;
                a {
                    display: inline-block;
                }
                &__movie {
                    width: 100%;
                    min-height: 150px;
                    border: 0;
                }

                &__link {
                    padding-top: 8px;
                }
            }
        }

        // For desktop
        @media(min-width: map-get($grid-breakpoints, md)) {
            padding-left: $padding-base;
        }

        // For desktop
        @media(min-width: map-get($grid-breakpoints, xl)) {
            padding-left: $padding-treble;
        }
    }
}