@import "../common/mixins";
@import "../common/variables";

.today-share {
    @include flex-row;
    @include flex-center-center;
    align-items: center;

    &__trigger {
        -webkit-order: 1;
        order: 1;
    }

    &__action {
        @include flex-row;
        -webkit-order: 2;
        order: 2;

        &-item {
            opacity: 0;
            z-index: 23;
            transform: scale(0);
            transition-delay: 3ms;
            transition: all .3s cubic-bezier(.55, 0, .55, .2);
            transition-duration: .14286s;
            pointer-events: auto;
        }
    }

    &.is-open {
        .today-share__action-item {
            opacity: 1;
            z-index: 23;
            transform: scale(1);
            transition-delay: 0ms;
        }
    }

    // For mobile
    @media(max-width: map-get($grid-breakpoints, md)) {
        @include flex-column;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 20;
        margin: 0 !important;

        &__trigger {
            -webkit-order: 2;
            order: 2;

            span {
                display: none;
            }
        }

        &__action {
            @include flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: column-reverse;
            flex-direction: column-reverse;
            -webkit-order: 1;
            order: 1;
            height: auto;
        }
    }
}