@import "../common/mixins";
@import "../common/variables";

.today-timeline {
    position: relative;

    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        background-color: $color-brand-gray;
        left: 40px;
        margin-left: -1.5px;
    }

    ul {
        padding: 0;
    }

    &__row {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        @include clear-fix;

        &.u-last {
            margin-bottom: 0;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: $font-size-xx;
        margin-bottom: $margin-half;
    }

    &__panel-heading {
        font-weight: 700;
    }

    &__panel-content {
        @include paragraph-font;
    }

    &__image {
        left: 0;
        margin-left: 0;
        @include size(80px, 80px);
        position: absolute;
        z-index: 100;
        background-color: $color-brand;
        color: $color-white;
        border-radius: 100%;
        border: 7px solid $color-brand-gray;
        text-align: center;
    }

    // For mobile
    @media (max-width: map-get($grid-breakpoints, md)-1) {
        // Panel Left / Right
        [class*='today-timeline__panel'] {
            width: 100%;
            float: right;
            text-align: left;
            position: relative;
            padding: 0 $padding-base 0 $padding-large;

            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
    }

    @media (max-width: map-get($grid-breakpoints, lg)-1) {
        &__row {
            &-text {
                display: none;
            }
            &-icon {
                display: block;
                position: absolute;
                top: 50%;
                margin-top: -14px;
                font-size: 28px;
                height: 28px;
                width: 100%;
            }
        }
    }

    // For desktop
    @media (min-width: map-get($grid-breakpoints, md)) {
        &:before {
            left: 50%;
        }

        &__image {
            @include size(100px, 100px);
            left: 50%;
            margin-left: -50px;
        }

        // Panel Left / Right
        [class*='today-timeline__panel'] {
            width: 41%;
            padding: 0 $padding-base;
        }

        &__row {
            margin-bottom: $margin-large;
            min-height: 100px;

            .today-timeline__panel-heading {
                float: left;
                text-align: right;
            }

            .today-timeline__panel-content {
                float: right;
                text-align: left;
            }

            &--inverted {
                .today-timeline__panel-heading {
                    float: right;
                    padding: 0 30px $padding-base $padding-base;
                    text-align: left;
                }
                .today-timeline__panel-content {
                    float: left;
                    padding: 0 $padding-base $padding-base;
                    text-align: right;
                }
            }

        }
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &__row {
            min-height: 150px;

            &-text {
                position: absolute;
                top: 50%;
                width: 100%;
                margin: -30px 0 0;
                padding: 0 5px;
                font-size: $font-size-base;
                line-height: 20px;
                height: 60px;
            }
            &-icon {
                display: none;
            }
        }

        &__image {
            @include size(150px, 150px);
            margin-left: -75px;
        }
    }

    @media (min-width: map-get($grid-breakpoints, xl)) {
        &__row {
            min-height: 170px;

            // Panel Left / Right
            .today-timeline__panel-heading {
                padding: 0 $padding-base 0 $padding-large;
            }

            .today-timeline__panel-content {
                padding: 0 $padding-large 0 $padding-base;
            }

            &--inverted {
                .today-timeline__panel-heading {
                    padding: 0 $padding-large 0 $padding-base;
                }
                .today-timeline__panel-content {
                    padding: 0 $padding-base 0 $padding-large;
                }
            }
        }

        &__image {
            @include size(170px, 170px);
            margin-left: -85px;
        }
    }
}
