@import "../common/mixins";
@import "../common/variables";

// Title
.today {
    &-title {
        &--small {
            margin: 15px 0;
            text-transform: none;
        }

        &--section {
            font-size: 40px;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    &-subtitle {
        &--section {
            font-size: 16px;
            line-height: 22px;
            @include serif-font;
            color: $color-gray-light;
            text-transform: none;
            font-style: italic;
            font-weight: 400;
            margin-bottom: 60px;
        }
    }
}
