@import "../common/mixins";
@import "../common/variables";

.u-decoration {
    &--no {
        text-decoration: none;
        border: 0;
    }
}

/**
 * Padding & Margin
 */

.u-padding {
    &__main-vert {
        &--big {
            padding: 80px 0;
            // For desktop
            @media(min-width: map-get($grid-breakpoints, md)) {
                padding: $padding-large 0;
            }
        }

        &--medium {
            padding: 60px 0;

            &-bottom {
                padding: 0 0 60px;
            }
        }

        &--small {
            padding: $padding-double 0;
        }

        &--smaller {
            padding: $padding-base 0;
        }
    }
}

.u-margin {
    &__top-0 {
        margin-top: 0;
    }
}

/**
 * Color
 */
.u-color {
    &--danger {
        color: $color-danger !important;
    }

    &--grey-light {
        color: $color-gray-light !important;
    }

    &--primary {
        color: $color-brand !important;
    }

    &--disabled {
        color: $color-disabled;
    }

    &-bg {
        &--light-gray {
            background-color: $color-gray-lighter;
        }

        &-header-inner {
            background-color: $color-gray-darker;
            background-image: url('../img/bg-header-inner.jpg');
            @include background-cover;
            color: $color-white;
        }

        &--fixed {
            &-header {
                background-color: $color-gray-darker;
                background-image: url('../img/bg-header.jpg');
                @include fixed-bg;
                color: $color-white;
            }

            &-circles {
                background-color: $color-brand-gray;
                background-image: url('../img/bg-circles.jpg');
                @include fixed-bg;
            }
        }
    }

    // For Mob & Tablet
    @media (max-width: map-get($grid-breakpoints, md)) {
        &-bg {
            &--fixed-header,
            &-header-inner {
                background-position: 0 0;
                background-size: auto auto;
                background-image: url('../img/bg-pattern.png');
            }
        }
    }
}

/**
 * Size
 */
.u-large {
    &-x {
        font-size: $font-size-x;
    }
    &-xx {
        font-size: $font-size-xx;
    }
}

/**
 * Show/Hide
 */
// For mobile & tablet
@media (max-width: map-get($grid-breakpoints, md)) {
    .u-hide-md-ss {
        display: none;
    }
}

