@import "mixins/button";
@import "mixins/fonts";
@import "mixins/flex";

// Background
@mixin background-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

@mixin fixed-bg {
    @include background-cover;
    background-attachment: fixed;
}

// Height & Width size
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

// Clear-Fix for floating elements
@mixin clear-fix {
    &::after {
        clear: both;
    }

    &::after,
    &::before {
        display: table;
        content: " ";
    }
}
