$color-brand-pink:         #e72f7a;
$color-brand-orange:       #ee6f27;
$color-brand-gray:         #f1f1f1;

$color-brand:              $color-brand-pink;

$color-danger:             #e74c3c;
$color-disabled:           #bdbbbb;
$color-white:              #ffffff;

$color-gray-darker:        #222222;
$color-gray-dark:          #333333;
$color-gray:               #555555;
$color-gray-light:         #777777;
$color-gray-lighter:       #eeeeee;

$color-gray-controls-elem: #e1e1e1;

$color-font-base:          $color-gray-dark;
$color-meta:               #9a9a9a;
$color-divide:             #e8e8e8;

// Social

$color-instagram: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
$color-facebook:           #45639e;
$color-vk:                 #51749c;
$color-google-plus:        #dd4b39;
$color-odnoklassniki:      #fa890f;
$color-twitter:            #23b9eb;
