
$color-brand-pink:   #e72f7a;
$color-brand-orange: #ee6f27;
$color-brand-gray:   #f1f1f1;

$color-brand:        $color-brand-pink;

$color-danger:       #e74c3c;
$color-white:        #ffffff;

$color-gray-darker:	 #222222;
$color-gray-dark:	 #333333;
$color-gray:         #555555;
$color-gray-light:   #777777;
$color-gray-lighter: #eeeeee;

$color-font-base:	 $color-gray-dark;
$color-meta:         #9a9a9a;
$color-divide:       #e8e8e8;
