@import "variables-theme";
/**
 * Breakpoints
 */
$grid-breakpoints: (
        xs: 0,
        ss: 320px,
        sm: 480px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        ss: 100%,
        sm: 100%,
        md: 100%,
        lg: 100%,
        xl: 1200px
);

/**
 * Padding & Margin
 */
$margin-base:      20px;
$margin-half:      $margin-base/2;
$margin-double:    $margin-base*2;
$margin-treble:    80px;
$margin-large:     100px;
$margin-large-x:   150px;

$padding-base:     20px;
$padding-half:     $padding-base/2;
$padding-double:   $padding-base*2;
$padding-treble:   80px;
$padding-large:    100px;
$padding-large-x:  150px;


/**
 * Font Size
 */
$font-size-base:   14px;
$line-height-base: 18px;

$font-size-s:      12px;

$font-size-x:      18px;
$line-height-x:    24px;

$font-size-xx:     20px;
$line-height-xx:   26px;

/**
 *  Animate
*/
$transition-base: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);