<div class="dh-card">
  <div class="dh-card__head">
    <div class="dh-title"><span>Themes</span></div>
    <div class="dh-actions">
      <button (click)="addTheme()"
              class="ngp-btn ngp-btn-default">Add Theme
      </button>
    </div>
  </div>
  <div class="dh-card__body">
      <table class="dh-table dh-table--zebra">
        <thead>
        <tr>
          <td>Name</td>
          <td>Description</td>
          <td>Date created</td>
          <td class="u-txt-right">Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="isAddTheme">
          <td>
            <input class="dh-input" type="text">
          </td>
          <td>
            <textarea class="dh-textarea" name="" id=""></textarea>
          </td>
          <td><input class="dh-input" type="text"></td>
          <td class="u-txt-right">
            <mat-icon class="dh-icon"
                      svgIcon="close"
                      (click)="cancelAddTheme()"></mat-icon>
            <mat-icon class="dh-icon" svgIcon="plus"></mat-icon>
          </td>
        </tr>
        <tr>
          <!--<td>{{theme.name}}</td>-->
          <!--<td>{{theme.description}}</td>-->
          <!--<td>{{theme.dateGenerated}}</td>-->
          <td>theme.name</td>
          <td>theme.description</td>
          <td>theme.dateGenerated</td>
          <td class="u-txt-right">
            <!--<mat-icon class="dh-icon" svgIcon="dots-vertical"></mat-icon>-->
            <mat-icon class="dh-icon" svgIcon="pencil"></mat-icon>
            <mat-icon class="dh-icon" svgIcon="delete-forever"></mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
